<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <!--ONLINE DEMO SERVER-->
        <add name="coonstring" connectionString="Data Source=aimzone.in;Initial Catalog=AiMZone;Persist Security Info=True;User ID=dataaimz;Password=AiMzData@123"
            providerName="System.Data.SqlClient" />
           
        
    </connectionStrings>
    <!--<startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />-->
<startup useLegacyV2RuntimeActivationPolicy="true">
   <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>    


    <!--</startup>-->
</configuration>